#cartas{
    position: relative;
    width: auto;
    width: calc(100% - 800px);
    width: -moz-calc(100% - 800px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 50px;
}

#cartas-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

#carta-wrap{
    position: relative;
    width: 368px;
    margin: 0px auto;
    height: 520px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    perspective: 450px;
    perspective-origin: bottom center;
}

#carta{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    border-radius: 20px;

    transform-origin: bottom center;
}
.carta-off{
    animation: animacion-carta-off 0.5s 1 forwards;
}
@keyframes animacion-carta-off {
    0%{
        transform: rotateX(0deg);
        opacity: 1;
        animation-timing-function: ease-in;
    }
    50%{
        transform: rotateX(90deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    80%{
        transform: rotateX(80deg);
        opacity: 1;
        animation-timing-function: ease-in;
    }
    99%{
        transform: rotateX(90deg);
        opacity: 1;
    }
    100%{
        transform: rotateX(90deg);
        opacity: 0;
        visibility: hidden;
    }
}
.carta-on{
    visibility: visible;
    animation: animacion-carta-on 1.25s 1 forwards;
}
@keyframes animacion-carta-on {
    0%{
        transform: rotateX(90deg);
        opacity: 0;
        animation-timing-function: ease-in;
    }
    30%{
        transform: rotateX(0deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    55%{
        transform: rotateX(10deg);
        opacity: 1;
        animation-timing-function: ease-in;
    }
    75%{
        transform: rotateX(0deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    90%{
        transform: rotateX(4deg);
        opacity: 1;
        animation-timing-function: ease-in;
    }
    100%{
        transform: rotateX(0deg);
        opacity: 1;
    }
}

#carta-imagenes{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#carta-imagenes img{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.carta1 #carta-imagenes img:nth-child(1){
    display: block !important;
}
.carta2 #carta-imagenes img:nth-child(2){
    display: block !important;
}
.carta3 #carta-imagenes img:nth-child(3){
    display: block !important;
}
.carta4 #carta-imagenes img:nth-child(4){
    display: block !important;
}

#frase-logo{
    position: absolute;
    width: 26%;
    height: auto;
    background-color: #fff;
    border-radius: 0px 0px 15px 15px;
    top: 0px;
    left: 37%;
    box-sizing: border-box;
    padding: 12px;
    box-shadow: 0px 12px 14px -5px rgba(0,0,0,0.3);
}
#frase-logo img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
}
    
#frase-footer{
    position: absolute;
    width: 50%;
    height: auto;
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
    bottom: 0px;
    left: 25%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px -12px 14px -5px rgba(0,0,0,0.3);
}
#frase-footer img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
}

#frase-container{
    position: absolute;
    width: 90%;
    height: auto;
    top: 15%;
    left: 5%;
}
#frase{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 12px;
}
#frase-txt{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: #2a255b;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
}

#frase-txt > div{
    display: inline-block;
    width: auto;
    height: 20px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px 1px;
    border-bottom: #2a255b dashed 1px;
    box-sizing: border-box;

    font-family: 'Montserrat-SemiBold';
    color: #ed7512;
}


#palabras{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.palabra-normal,
#palabra-move,
.palabra-normal-locked{
    outline: none;
    outline-width: 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.palabra-normal,
.palabra-normal-locked{
    position: relative;
    width: 120px;
    height: 42px;
    cursor: grab;
    margin: 10px 5px;
    border: #fff solid 3px;
}
#palabra-move{
    position: absolute;
    width: auto;
    height: 25px;
    border: #fff solid 1px;
    cursor: grabbing;
    transform: translate(-50%,-50%);
}
.palabra-normal-locked{
    filter: grayscale(100%);
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.palabra-normal span,
#palabra-move span,
.palabra-normal-locked span{
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
.palabra-normal span,
.palabra-normal-locked span{
    font-family: 'Montserrat-Bold';
    font-size: 14px;
}
#palabra-move span{
    font-family: 'Montserrat-SemiBold';
    font-size: 12px;
    padding: 0px 12px;
}

/************/

.palabra-normal-off{
    top: 100px;
    opacity: 0 !important;

    transition: opacity 0.15s ease-in, top 0.15s ease-in;
}
.palabra-normal-on{
    top: 0px;
    opacity: 1;

    transition: opacity 0.15s ease-out, top 0.15s ease-out;
}

.palabra-normal-1{
    background-image: url(../images/cartas/patron1.png);
}
.palabra-normal-2{
    background-image: url(../images/cartas/patron2.png);
}
.palabra-normal-3{
    background-image: url(../images/cartas/patron3.png);
}
.palabra-normal-4{
    background-image: url(../images/cartas/patron4.png);
}

.palabra-normal-1 span,
.palabra-normal-2 span,
.palabra-normal-4 span{
    color: #fff;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.palabra-normal-3 span{
    color: #2b275b;
}

.palabra-move-off{
    visibility: hidden;
    transform: scale(0.5) translate(-50%,-50%);
    opacity: 0;

    transition: transform 0.15s, opacity 0.15s, visibility 0.15s;
}
.palabra-move-on{
    visibility: visible;
    transform: scale(1) translate(-50%,-50%);
    opacity: 1;

    transition: transform 0.15s, opacity 0.15s, visibility 0s;
}