#cartas{
    position: relative;
    width: auto;
    width: calc(100% - 800px);
    width: -moz-calc(100% - 800px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cartas-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

#carta{
    position: relative;
    width: 354px;
    margin: 0px auto;
    height: 500px;
}
#carta-imagenes{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#carta-imagenes img{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.carta1 #carta-imagenes img:nth-child(1){
    display: block !important;
}
.carta1 #carta-imagenes img:nth-child(2){
    display: block !important;
}
.carta1 #carta-imagenes img:nth-child(3){
    display: block !important;
}
.carta1 #carta-imagenes img:nth-child(4){
    display: block !important;
}

#frase-container{
    position: absolute;
    width: 82%;
    height: 64%;
    top: 24%;
    left: 9%;

    border-radius: 12px;
    background-color: rgba(0,127,197,0.6);
    box-sizing: border-box;
    padding: 15px;
}
#frase{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
}
#frase-txt{
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: #2a255b;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
}

#frase-txt > div{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px 1px;
    border-bottom: #2a255b solid dashed;
    box-sizing: border-box;

    font-family: 'Montserrat-SemiBold';
    color: #ed7512;
}


#palabras{
    
}