body,html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

#app{
    position: relative;
    width: 100%;
    height: 100%;
}
#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#fondo-img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;

    transition: bottom 2s;
}
.fondo-img-1{
    bottom: -20%;
}
.fondo-img-2{
    bottom: 0%;
}
#fondo-img img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
}
#cielo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#cielo-dia,
#cielo-noche{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#cielo-dia{
    background: #86bfea;
    background: linear-gradient(to bottom, #86bfea 0%, #d2ecf4 50%, #d2ecf4 100%);
    animation: animacion-cielo 300s infinite forwards linear;
}
#cielo-noche{
    background: #0b1f51;
    background: linear-gradient(to bottom, #0b1f51 0%, #030c19 50%, #030c19 100%);
    animation: animacion-noche 300s infinite forwards linear;
}

@keyframes animacion-cielo{
    0%{
        opacity: 1;
    }
    33.33%{
        opacity: 0;
    }
    66.66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animacion-noche{
    0%{
        opacity: 0;
    }
    33.33%{
        opacity: 1;
    }
    66.66%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#sol{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    left: 50%;
    left: calc(50% - 200px);
    left: -moz-calc(50% - 200px);
    /*#fff9e1*/    

    animation: animacion-sol-luna 300s infinite forwards linear, animacion-sol-luna-2 300s infinite forwards linear;
}
@keyframes animacion-sol-luna {
    0%{
        top: 50%;
        top: calc(50% - 200px);
        top: -moz-calc(50% - 200px);
    }
    24.7%{
        top: 100%;
    }
    24.8%{
        top: 100%;
    }
    24.9%{
        top: 0%;
        top: calc(0% - 420px);
        top: -moz-calc(0% - 420px);
    }
    25%{
        top: 0%;
        top: calc(0% - 420px);
        top: -moz-calc(0% - 420px);
    }
    50%{
        top: 50%;
        top: calc(50% - 200px);
        top: -moz-calc(50% - 200px);
    }
    74.7%{
        top: 100%;
    }
    74.8%{
        top: 100%;
    }
    74.9%{
        top: 0%;
        top: calc(0% - 420px);
        top: -moz-calc(0% - 420px);
    }
    75%{
        top: 0%;
        top: calc(0% - 420px);
        top: -moz-calc(0% - 420px);
    }
    100%{
        top: 50%;
        top: calc(50% - 200px);
        top: -moz-calc(50% - 200px);
    }
}
@keyframes animacion-sol-luna-big {
    0%{
        top: 50%;
        top: calc(50% - 250px);
        top: -moz-calc(50% - 250px);
    }
    24.7%{
        top: 100%;
    }
    24.8%{
        top: 100%;
    }
    24.9%{
        top: 0%;
        top: calc(0% - 520px);
        top: -moz-calc(0% - 520px);
    }
    25%{
        top: 0%;
        top: calc(0% - 520px);
        top: -moz-calc(0% - 520px);
    }
    50%{
        top: 50%;
        top: calc(50% - 500px);
        top: -moz-calc(50% - 500px);
    }
    74.7%{
        top: 100%;
    }
    74.8%{
        top: 100%;
    }
    74.9%{
        top: 0%;
        top: calc(0% - 520px);
        top: -moz-calc(0% - 520px);
    }
    75%{
        top: 0%;
        top: calc(0% - 520px);
        top: -moz-calc(0% - 520px);
    }
    100%{
        top: 50%;
        top: calc(50% - 500px);
        top: -moz-calc(50% - 500px);
    }
}
@keyframes animacion-sol-luna-2 {
    0%{
        background-color: #ffed9f;
        box-shadow: 0px 0px 100px 10px rgba(255,249,225,0.5);
        opacity: 1;
    }
    24.7%{
        background-color: #ffed9f;
        box-shadow: 0px 0px 100px 10px rgba(255,249,225,0);
        opacity: 1;
    }
    24.8%{
        background-color: #ffed9f;
        opacity: 0;
    }
    24.9%{
        background-color: #fff9e1;
        opacity: 0;
    }
    25%{
        background-color: #fff9e1;
        box-shadow: 0px 0px 100px 10px rgba(255,249,225,1);
        opacity: 1;
    }
    50%{
        background-color: #fff9e1;
        box-shadow: 0px 0px 100px 10px rgba(255,249,225,0.5);
        opacity: 1;
    }
    74.7%{
        background-color: #fff9e1;
        box-shadow: 0px 0px 100px 10px rgba(255,249,225,0);
        opacity: 1;
    }
    74.8%{
        background-color: #fff9e1;
        opacity: 0;
    }
    74.9%{
        background-color: #ffed9f;
        opacity: 0;
    }
    75%{
        background-color: #ffed9f;
        box-shadow: 0px 0px 100px 10px rgba(255,249,225,1);
        opacity: 1;
    }
    100%{
        background-color: #ffed9f;
        box-shadow: 0px 0px 100px 10px rgba(255,249,225,0.5);
        opacity: 1;
    }
}


#nube1,
#nube2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}
    
#nube1 img,
#nube2 img{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
}
#nube1 img{margin-top: 5%;}
#nube2 img{margin-top: 6%;}

#nube1 img{
    animation: animacion-nube1 240s infinite linear;
}
@keyframes animacion-nube1{
    0%{
        left: 50%;
        opacity: 1;
    }
    24.7%{
        left: 100%;
        opacity: 1;
    }
    24.8%{
        left: 100%;
        opacity: 0;
    }
    24.9%{
        left: -100%;
        opacity: 0;
    }
    25%{
        left: -100%;
        opacity: 1;
    }
    50%{
        left: -50%;
        opacity: 1;
    }
    75%{
        left: 0%;
        opacity: 1;
    }
    100%{
        left: 50%;
        opacity: 1;
    }
}
#nube2 img{
    animation: animacion-nube2 180s infinite linear;
}
@keyframes animacion-nube2{
    0%{
        left: -50%;
        opacity: 1;
    }
    24.7%{
        left: -100%;
        opacity: 1;
    }
    24.8%{
        left: -100%;
        opacity: 0;
    }
    24.9%{
        left: 100%;
        opacity: 0;
    }
    25%{
        left: 100%;
        opacity: 1;
    }
    50%{
        left: 50%;
        opacity: 1;
    }
    75%{
        left: 0%;
        opacity: 1;
    }
    100%{
        left: -50%;
        opacity: 1;
    }
}

/****************/
.plantas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

/*hoja 1*/
#plant-1{
    left: -2%;
    top: -15%;
}
#plant-1 > div{transform: scale(0.7);}
#plant-2{
    left: 3%;
    top: -22%;
}
#plant-2 > div{transform: scale(0.8) rotate(40deg);}
#plant-12{
    left: 97%;
    top: -19%;
}
#plant-12 > div{transform: scale(0.7) rotate(75deg);}
#plant-13{
    left: 108%;
    top: -20%;
}
#plant-13 > div{transform: scale(0.8) rotate(110deg);}

/*ho9ja 2*/
#plant-4{
    left: 0%;
    top: -10%;
}
#plant-4 > div{transform: scale(0.8) rotate(45deg);}
#plant-5{
    left: -1%;
    top: -10%;
}
#plant-5 > div{transform: scale(0.85) rotate(30deg);}
#plant-14{
    left: 96%;
    top: -5%;
}
#plant-14 > div{transform: scale(0.8) rotate(45deg);}

/*hoja 4*/
#plant-6{
    left: 0%;
    top: 70%;
}
#plant-6 > div{transform: scale(0.5) rotate(30deg);}
#plant-7{
    left: -3%;
    top: 70%;
}
#plant-7 > div{transform: scale(0.45) rotate(60deg);}
#plant-15{
    left: 102%;
    top: 112%;
}
#plant-15 > div{transform: scale(0.7) rotate(-30deg);}

/*hoja 6*/
#plant-8{
    left: 75%;
    top: 101%;
}
#plant-8 > div{transform: scale(0.8)}
#plant-9{
    left: 8%;
    top: 101%;
}
#plant-9 > div{transform: scale(0.8)}

/*hoja 7*/
#plant-10{
    left: 62%;
    top: 110%;
}
#plant-10 > div{transform: scale(0.7) rotate(-10deg);}

#plant-11{
    left: 10%;
    top: 120%;
}
#plant-11 > div{transform: scale(0.7) rotate(20deg);}

/***************************************************/

#video-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0px;
    left: 0px;
}

#video-inicial{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.video-on{
    visibility: visible;
    opacity: 1;
}
.video-off{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
}
.video-offf{
    display: none;
}
/***************************************************/

#col1{
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0px;
    left: 50%;
    left: calc(50% - 200px);
    left: -moz-calc(50% - 200px);
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.col1-on{
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 1s;
}
.col1-off{
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s, opacity 1s;
}
.sol-paused,
.cielo-paused{
    animation-play-state: paused !important;
}
.sol-play,
.cielo-play{
    animation-play-state: running !important;
}

#logo{
    position: relative;
    width: 100%;
    margin: 0px;
    margin-bottom: 30px;
}
#logo img{
    display: block;
    width: 300px;
    height: auto;
    margin: 0px auto;
}

#col2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
}

.col2-off{
    visibility: hidden;
}
.col2-on{
    visibility: visible;
}

#cortina{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.5);
}
.cortina-on{
    opacity: 1;
    visibility: visible;

    transition: visibility 0s, opacity 1s;
}
.cortina-off{
    opacity: 0;
    visibility: hidden;

    transition: visibility 1s, opacity 1s;
}