@media (max-width: 520px){
    .fondo-img-1{
        bottom: 0%;
    }
    
    #sol{
        width: 200px;
        height: 200px;
        
        left: 50%;
        left: calc(50% - 100px);
        left: -moz-calc(50% - 100px);
        top: 50%;
        top: calc(50% - 100px);
        top: -moz-calc(50% - 100px);
        
        background-color: #ffed9f;
        box-shadow: 0px 0px 100px 10px rgba(255,249,225,0.5);
    }

    /****************/
    /*hoja 1*/
    #plant-1 > div{transform: scale(0.5);}    
    #plant-2 > div{transform: scale(0.6) rotate(40deg);}
    #plant-12 > div{transform: scale(0.5) rotate(75deg);}
    #plant-13 > div{transform: scale(0.6) rotate(110deg);}
    #plant-4 > div{transform: scale(0.6) rotate(45deg);}
    #plant-5 > div{transform: scale(0.6) rotate(30deg);}
    #plant-14 > div{transform: scale(0.6) rotate(45deg);}
    #plant-6 > div{transform: scale(0.3) rotate(30deg);}
    #plant-7 > div{transform: scale(0.3) rotate(60deg);}
    #plant-15 > div{transform: scale(0.5) rotate(-30deg);}
    #plant-8 > div{transform: scale(0.6)}
    #plant-9 > div{transform: scale(0.6)}
    #plant-10 > div{transform: scale(0.5) rotate(-10deg);}
    #plant-11 > div{transform: scale(0.5) rotate(20deg);}

    /***************************************************/
    #col1{
        width: 100%;
        width: calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        left: 15px;
    }
    
    .sol-paused,
    .cielo-paused{
        animation: none !important;
        animation: unset !important;
    }
    .sol-play,
    .cielo-play{
        animation: none !important;
        animation: unset !important;
    }

    #logo{
        width: 100%;
        margin-bottom: 20px;
    }
    #logo img{
        width: 250px;
    }

    #col2{
        width: 100%;
        height: 100%;
    }

    #ruleta{
        width: 100%;
        height: 100%;
    }

    #ruleta-container{
        width: 400px;
        height: 400px;
        top: 50%;
        top: calc(50% - (400px / 2));
        top: -moz-calc(50% - (400px / 2));
    }

    .ruleta-container-on{
        transform: rotate(0deg);
        left: 50%;
        left: calc(50% - (400px / 2));
        left: -moz-calc(50% - (400px / 2));
    }

    #ruleta-borde{
        width: 100%;
        width: calc(100% + 4px);
        width: -moz-calc(100% + 4px);
        height: 100%;
        height: calc(100% + 4px);
        height: -moz-calc(100% + 4px);
        left: -2px;
        top: -2px;
    }

    .ruleta-square{
        width: 200px;
        height: 200px;
    }

    .ruleta-square-cont{
        padding-top: 30%;
    }

    .ruleta-square-cont img:last-child{
        width: 80%;
    }

    #ruleta-flecha{
        width: 150px;
        height: 150px;
    }

    #ruleta-flecha-bola{
        width: 100%;
        width: calc(100% - 4px);
        width: -moz-calc(100% - 4px);
        height: 100%;
        height: calc(100% - 4px);
        height: -moz-calc(100% - 4px);
        top: 2px;
        left: 2px;
    }

    #ruleta-flecha-triangulo{
        border-bottom: #fff solid 10px;
        border-right: rgba(255,255,255,0) solid 5px;
        border-left: rgba(255,255,255,0) solid 5px;
        left: 50%;
        left: calc(50% - 5px);
        left: -moz-calc(50% - 5px);
        top: -5px;
    }

    #ruleta-flecha-bola-logo{
        display: none;
    }

    #girar-btn{
        height: 40px;
        padding: 0px 20px;
        border-radius: 20px;
    }
    .girar-btn-borde{
        border-radius: 20px;
    }
    .girar-btn-fondo{
        width: 100%;
        width: calc(100% - 4px);
        width: -moz-calc(100% - 4px);
        height: 100%;
        height: calc(100% - 4px);
        height: -moz-calc(100% - 4px);
        border-radius: 20px;
        top: 2px;
        left: 2px;
    }
    .girar-btn-fondo::after{
        height: 2px;
    }
    #girar-btn span{
        font-size: 16px;
    }
}