#ruleta{
    position: relative;
    width: 800px;
    height: 100%;
}

#ruleta-container{
    position: absolute;
    margin: 0px auto;
    width: 650px;
    height: 650px;
    top: 50%;
    top: calc(50% - (650px / 2));
    top: -moz-calc(50% - (650px / 2));

    border-radius: 50%;
    box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.5);
}

.ruleta-container-off{
    transform: rotate(-180deg);
    left: -100%;
}
.ruleta-container-on{
    transform: rotate(0deg);
    left: 50%;
    left: calc(50% - (650px / 2));
    left: -moz-calc(50% - (650px / 2));

    transition: left 1s 1s ease-out, transform 1s 1s ease-out;
}

#ruleta-borde{
    position: absolute;
    width: 100%;
    width: calc(100% + 10px);
    width: -moz-calc(100% + 10px);
    height: 100%;
    height: calc(100% + 10px);
    height: -moz-calc(100% + 10px);
    background-color: #1b1464;
    border-radius: 50%;
    left: -5px;
    top: -5px;
}
#ruleta-fondo{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#ruleta-fondo img{
    display: block;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#ruleta-partes{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(-45deg);
}

#ruleta-partes .ruleta-square:nth-child(1) .ruleta-square-cont{
    transform: rotate(-45deg);
}
#ruleta-partes .ruleta-square:nth-child(2) .ruleta-square-cont{
    transform: rotate(45deg);
}
#ruleta-partes .ruleta-square:nth-child(3) .ruleta-square-cont{
    transform: rotate(225deg);
}
#ruleta-partes .ruleta-square:nth-child(4) .ruleta-square-cont{
    transform: rotate(135deg);
}

.ruleta-square{
    position: relative;
    width: 325px;
    height: 325px;
    overflow: hidden;
}

.ruleta-square-cont{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 30%;
}

.ruleta-square-cont img:first-child{
    position: absolute;
    display: block;
    width: 120%;
    height: auto;
    top: 100%;
    left: -10%;
    transform: translateY(-60%);
}
.ruleta-square-cont img:last-child{
    position: relative;
    display: block;
    width: 60%;
    height: auto;
    margin: 0px auto;
}

#ruleta-flecha{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#ruleta-flecha-borde{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.35;
}

#ruleta-flecha-bola{
    position: relative;
    width: 100%;
    width: calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    height: 100%;
    height: calc(100% - 10px);
    height: -moz-calc(100% - 10px);
    top: 5px;
    left: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
}

#ruleta-flecha-triangulo{
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: #fff solid 20px;
    border-right: rgba(255,255,255,0) solid 10px;
    border-left: rgba(255,255,255,0) solid 10px;
    left: 50%;
    left: calc(50% - 10px);
    left: -moz-calc(50% - 10px);
    top: -10px;
}

#ruleta-flecha-bola-logo{
    display: block;
    width: 50%;
    height: auto;
    margin: 0px;
    margin-bottom: 30px;
}
#girar-btn{
    cursor: pointer;
    position: relative;
    outline: none;
    outline-width: 0;
    border: none;
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 70px;
    box-sizing: border-box;
    padding: 0px 50px;
    border-radius: 35px;
    
    box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.5);
}
.girar-btn-borde{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    top: 0px;
    left: 0px;
    
    background: #d6d7d9;
    background: linear-gradient(to bottom, #cdced0 0%, #d1d2d3 25%, #ebebec 49%, #9c9ea1 51%, #e4e6e7 75%, #d5d6d7 100%);
}
.girar-btn-fondo{
    position: absolute;
    width: 100%;
    width: calc(100% - 8px);
    width: -moz-calc(100% - 8px);
    height: 100%;
    height: calc(100% - 8px);
    height: -moz-calc(100% - 8px);
    border-radius: 35px;
    top: 4px;
    left: 4px;
    
    background: #ff721f;
    background: linear-gradient(to bottom, #ff5000 0%, #ff691e 50%, #e67601 100%);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3) inset;
}
.girar-btn-fondo::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 4px;
    background-color: #ffffff;
    opacity: 1;
    filter: blur(2px);
    border-radius: 2px;
    top: 14%;
    right: 15%;
}
#girar-btn span{
    display: block;
    position: relative;
    font-family: 'Montserrat-Bold';
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
    text-transform: uppercase;
}

#girar-btn:active .girar-btn-fondo{
    background: #f4a11c;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3) inset;
}